<!DOCTYPE css>

<style>
* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
  font-size: 1rem;
  cursor: url("pde_pointer.png"), pointer;
}

body{
  background-color: black;
  color: #fff;
  overflow: scroll;
  font-family: "cambria math";
  font-family: "nimbusromno9l-reg";
  font-weight: lighter;
  overflow-x: hidden;
}

h1{
    font-weight: 400;
}

h2{
    font-weight: 400;
    font-size: 2rem;
}

h3{
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: .15em;
    text-transform: uppercase;
}

.nav{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width:100%;
    height: 60px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
}

.nav_list{
    margin-left: 1%;
    margin-right: 4%;
    text-align: left;
    position: relative;
    display: flex;
    justify-content: flex-end;
    gap: 19%;
    list-style-type:none;
}


.titre{
    margin-top: 1.5%;
    margin-left:0.5%;
    margin-right: 5%;

}

.pic_right{
    position: absolute;
    top: 5%;
    margin-left: 65%;
    height: 50px;
}


.projects {
    display: block;
    margin-top: 5%;
    margin-left: 2%;
    margin-right: 35%;
    height: 600px;
    /* overflow-y: scroll; */
}


.projects::-webkit-scrollbar { width: 0 !important }
.projects { overflow: -moz-scrollbars-none; }
.projects { -ms-overflow-style: none; }

.block_text{
    margin-bottom: 25px;
    padding: 0;
    border: 0;
    font: inherit;
    border-top: 1px solid #FFF;
    border-color: var(--base-color);
    vertical-align: baseline;
    height: 60px;
    white-space: nowrap; 
    overflow: hidden;
}


.block_text:hover{
    height: 200px;
}

.info_text{
    display:flex;
    justify-content: flex-start;
    gap: 2%;
}

.pt{
    position: fixed;
    top: 13%;
    left : 78%;
}

#pt{
    max-width: 90%;
}

.msp{
    position: fixed;
    top: 50%;
    left : 77.5%;
}

#msp{
    max-width: 93%;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 15px;
  font-size: 100%;
  color: #FFF;
  text-align: left;
  padding-top: 500px;
  padding-right: 60px;
}


</style>
